apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-db
  namespace: default
  labels:
    app: postgres-db
spec:
  serviceName: "postgres"
  replicas: 3
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: "example-pass"
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
