apiVersion: v1
kind: Pod
metadata:
  name: dns-test
  namespace: default
  labels:
    app: dns-test
spec:
  containers:
    - name: dns-utils
      image: registry.k8s.io/e2e-test-images/jessie-dnsutils:1.3
      command:
        - sleep
        - "3600"
      imagePullPolicy: IfNotPresent
  restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: test-service
  namespace: default
spec:
  selector:
    app: dns-test
  ports:
    - port: 80
      targetPort: 80
